.departure-board {
    padding: 0.36em;
    display: inline-block;
    line-height: 1.3em;
    background: rgb(30, 30, 30);
    border-radius: 0.21em;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.departure-board .row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.2em;
}

.departure-board .letter {
    display: inline-block;
    width: 1em;
    margin: 0 0.1em;
    height: 1.3em;
    text-align: center;
    position: relative;
    box-shadow:
        inset 0 -0.07em 0 rgba(50, 50, 50, 0.7),
        inset 0 -0.14em 0 rgba(0, 0, 0, 0.7),
        inset 0.14em 0 0.28em rgba(0, 0, 0, 0.9),
        inset -0.14em 0 0.28em rgba(0, 0, 0, 0.9),
        0 0.07em 0 rgba(255, 255, 255, 0.2);
}

.departure-board .letter::before {
    content: " ";
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    top: 0.62em;
    z-index: 2;
    border-top: 0.07em solid rgba(0, 0, 0, 0.4);
    border-bottom: 0.07em solid rgba(255, 255, 255, 0.08);
    transform: translate(0, -0.05em);
}

.departure-board .fold {
    display: block;
    position: absolute;
    height: 0;
    top: 0.65em;
}

.departure-board .flap {
    display: block;
    position: absolute;
    top: 0;
    width: 1em;
    height: 0.65em;
    margin: 0;
    overflow: hidden;
}

.departure-board .text {
    width: 100%;
}

.departure-board .bottom {
    top: 0.65em;
}

.departure-board .bottom .text {
    position: relative;
    top: -0.65em;
}

.departure-board .flap.falling {
    display: none;
    bottom: 0;
    top: auto;
}

.departure-board .flap.falling .text {
    backface-visibility: hidden;
    border-top: 0.03em solid #444;
    border-bottom: 0.03em solid #444;
    background: #000;
    display: block;
    position: relative;
    transform: scaleY(1);
    transition: transform linear;
}